# ------ LLM Provider ----------------------------------
# Chave da OpenRouter, usado para acessar o Gemini 2.5 Flash com o custo controlado
OPENROUTER_API_KEY=

# ------ Telegram --------------------------------------
# Token do seu bot, obitido através do @BotFather no telegram
TELEGRAM_BOT_TOKEN=

# ------ Supervisor API --------------------------------
SUPERVISOR_API_PORT=8000

#------ MCP Servers (preenchido nas próximas fases) ----------------------
# GITHUB_ TOKEN=
# GOOGLE_DRIVE_CREDENTIALS_PATH=
# TRELLO_API_KEY=
# TRELLO_TOKEN0